<a href="https://colab.research.google.com/github/nissi00/machine-learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<strong><center style="font-size:35px;color:red;font-weight:bold">Pandas</center><br></strong>

**Définition**

La bibliothèque Pandas est l'outil de base concernant la manipulation et l'analyse de données. Ecrite en python, elle reprend certains conceptes de la bibliothèque Numpy.

# Vue globale de notre Dataset



  pour parcourir les aspects majeurs de pandas, nous allons nous exercer sur une Dataset, celle du titanic.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np #impoertation des bibliothèques

## lecture de fichiers

il existe plusieurs formats de fichiers avec chacun ses spécificités telque: les fichiers csv,excel, jason,... .Pour lire un fichier la syntaxe est la même: la fonction read() prenant en paramètre le chemin du fichier.

In [ ]:
pd.read_excel("/content/dataset.xlsx")#lecture du fichier

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## dimension et affichage des lignes et colonnes.

On peut identifier les dimensions avec la fonction ainsi que les première lignes de notre dataset, respectivement avec les fonctions shape et head.

In [ ]:
data = pd.read_excel("/content/dataset.xlsx")# enrégistrons notre dataset dans une variable data
data.shape# l'information qu'on tire est qu'il y a 5644 passagers dans le titanic et 111 caractéristiquues que l'on pourrait étudier.
data.head(10)# affichant les dix premières lignes de notre dataset.

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,75f16746216c4d1,9,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2a2245e360808d7,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,509197ec73f1400,16,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8bb9d64f0215244,1,negative,0,1,0,-1.571682,-0.774212,1.429667,-1.672222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730393,NaN
9,5f1ed301375586c,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.columns# affichant les colonnes de notre jeu de donnée.

Index(['Patient ID', 'Patient age quantile', 'SARS-Cov-2 exam result',
       'Patient addmited to regular ward (1=yes, 0=no)',
       'Patient addmited to semi-intensive unit (1=yes, 0=no)',
       'Patient addmited to intensive care unit (1=yes, 0=no)', 'Hematocrit',
       'Hemoglobin', 'Platelets', 'Mean platelet volume ',
       ...
       'Hb saturation (arterial blood gases)',
       'pCO2 (arterial blood gas analysis)',
       'Base excess (arterial blood gas analysis)',
       'pH (arterial blood gas analysis)',
       'Total CO2 (arterial blood gas analysis)',
       'HCO3 (arterial blood gas analysis)',
       'pO2 (arterial blood gas analysis)', 'Arteiral Fio2', 'Phosphor',
       'ctO2 (arterial blood gas analysis)'],
      dtype='object', length=111)

# nettoyer des  données

Les données ne sont pas toujours de bonnes qualités avec parfois des valeurs manquantes, il est donc impératif de les traiter avant de les utiliser.

## supprimer les colonnes inutiles

Un jeu de donnée peut contenir des caractères parfois
inutiles, dans ce cas on utilises la fonctions drop

In [ ]:
data = data.drop(['Patient ID','Hematocrit'], axis = 1)
#axis = 1: signifie suivant l'axe des colonnes, quant à l'axe = 0 c'est  suivant les lignes

In [ ]:
# si on vérifie notre dataset nous remarquons la disparution de ces 2 caractères et la  réduction du nombre de colonnes à 109
data.head(10)

,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,13,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17,negative,0,0,0,-0.022340,-0.517413,0.010677,0.102004,0.318366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,16,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,negative,0,1,0,-0.774212,1.429667,-1.672222,-0.850035,-0.005738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730393,NaN
9,17,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## supprimer les lignes contenant des valeurs manquantes

 Pour supprimer les lignes contenant des nan nous utiliserons la fontion dropna()

 **Remarque** : Par défaut, la méthode dropna() renvoie un nouveau DataFrame et ne modifiera pas l'original, mais vous pouvez le faire en y ajoutant en argument 

```
inplace = True 
```

In [ ]:
new_df = data.dropna()

print(new_df)

Empty DataFrame
Columns: [Patient age quantile, SARS-Cov-2 exam result, Patient addmited to regular ward (1=yes, 0=no), Patient addmited to semi-intensive unit (1=yes, 0=no), Patient addmited to intensive care unit (1=yes, 0=no), Hemoglobin, Platelets, Mean platelet volume , Red blood Cells, Lymphocytes, Mean corpuscular hemoglobin concentration (MCHC), Leukocytes, Basophils, Mean corpuscular hemoglobin (MCH), Eosinophils, Mean corpuscular volume (MCV), Monocytes, Red blood cell distribution width (RDW), Serum Glucose, Respiratory Syncytial Virus, Influenza A, Influenza B, Parainfluenza 1, CoronavirusNL63, Rhinovirus/Enterovirus, Mycoplasma pneumoniae, Coronavirus HKU1, Parainfluenza 3, Chlamydophila pneumoniae, Adenovirus, Parainfluenza 4, Coronavirus229E, CoronavirusOC43, Inf A H1N1 2009, Bordetella pertussis, Metapneumovirus, Parainfluenza 2, Neutrophils, Urea, Proteina C reativa mg/dL, Creatinine, Potassium, Sodium, Influenza B, rapid test, Influenza A, rapid test, Alanine transaminase, Aspartate transaminase, Gamma-glutamyltransferase , Total Bilirubin, Direct Bilirubin, Indirect Bilirubin, Alkaline phosphatase, Ionized calcium , Strepto A, Magnesium, pCO2 (venous blood gas analysis), Hb saturation (venous blood gas analysis), Base excess (venous blood gas analysis), pO2 (venous blood gas analysis), Fio2 (venous blood gas analysis), Total CO2 (venous blood gas analysis), pH (venous blood gas analysis), HCO3 (venous blood gas analysis), Rods #, Segmented, Promyelocytes, Metamyelocytes, Myelocytes, Myeloblasts, Urine - Esterase, Urine - Aspect, Urine - pH, Urine - Hemoglobin, Urine - Bile pigments, Urine - Ketone Bodies, Urine - Nitrite, Urine - Density, Urine - Urobilinogen, Urine - Protein, Urine - Sugar, Urine - Leukocytes, Urine - Crystals, Urine - Red blood cells, Urine - Hyaline cylinders, Urine - Granular cylinders, Urine - Yeasts, Urine - Color, Partial thromboplastin time (PTT) , Relationship (Patient/Normal), International normalized ratio (INR), Lactic Dehydrogenase, Prothrombin time (PT), Activity, Vitamin B12, Creatine phosphokinase (CPK) , Ferritin, Arterial Lactic Acid, Lipase dosage, D-Dimer, Albumin, Hb saturation (arterial blood gases), ...]
Index: []

[0 rows x 109 columns]

## remplacer les nan

on utilise la fonction fillna()

In [ ]:
data.fillna(2)
#remplacer les valeur manquantes par une valeur quelconque, dans notre cas 2
#Nan : il fait mention de données manquantes, il est différent d'une valeur nulle
#la suppression des colonnes qui en contiennent peuvent fausser la véracité des résultats

,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,13,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,17,negative,0,0,0,-0.022340,-0.517413,0.010677,0.102004,0.318366,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,8,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,5,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,15,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,3,positive,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5640,17,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5641,4,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5642,10,negative,0,0,0,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5643,19,positive,0,0,0,0.541564,-0.906829,-0.325903,0.578024,-0.295726,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [ ]:
data["Hemoglobin"].fillna(5, inplace=True) 
#permet de remplace avec plus de précision les nan de la colonne hemoglobin par 5
print(data)

      Patient age quantile SARS-Cov-2 exam result  \
0                       13               negative
1                       17               negative
2                        8               negative
3                        5               negative
4                       15               negative
...                    ...                    ...
5639                     3               positive
5640                    17               negative
5641                     4               negative
5642                    10               negative
5643                    19               positive

      Patient addmited to regular ward (1=yes, 0=no)  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0
...                                              ...
5639                                               0
5640                                               0
5641                                               0
5642                                               0
5643                                               0

      Patient addmited to semi-intensive unit (1=yes, 0=no)  \
0                                                     0
1                                                     0
2                                                     0
3                                                     0
4                                                     0
...                                                 ...
5639                                                  0
5640                                                  0
5641                                                  0
5642                                                  0
5643                                                  0

      Patient addmited to intensive care unit (1=yes, 0=no)  Hemoglobin  \
0                                                     0        5.000000
1                                                     0       -0.022340
2                                                     0        5.000000
3                                                     0        5.000000
4                                                     0        5.000000
...                                                 ...             ...
5639                                                  0        5.000000
5640                                                  0        5.000000
5641                                                  0        5.000000
5642                                                  0        5.000000
5643                                                  0        0.541564

      Platelets  Mean platelet volume   Red blood Cells  Lymphocytes  ...  \
0           NaN                    NaN              NaN          NaN  ...
1     -0.517413               0.010677         0.102004     0.318366  ...
2           NaN                    NaN              NaN          NaN  ...
3           NaN                    NaN              NaN          NaN  ...
4           NaN                    NaN              NaN          NaN  ...
...         ...                    ...              ...          ...  ...
5639        NaN                    NaN              NaN          NaN  ...
5640        NaN                    NaN              NaN          NaN  ...
5641        NaN                    NaN              NaN          NaN  ...
5642        NaN                    NaN              NaN          NaN  ...
5643  -0.906829              -0.325903         0.578024    -0.295726  ...

      Hb saturation (arterial blood gases)  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
5639                                   NaN
5640                                   NaN
5641                                   NaN
5642                                   NaN
5643                                   NaN

      pCO2 (arterial blood gas analysis)  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN
...                                  ...
5639                                 NaN
5640                                 NaN
5641                                 NaN
5642                                 NaN
5643                                 NaN

      Base excess (arterial blood gas analysis)  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
5639                                        NaN
5640                                        NaN
5641                                        NaN
5642                                        NaN
5643                                        NaN

      pH (arterial blood gas analysis)  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
...                                ...
5639                               NaN
5640                               NaN
5641                               NaN
5642                               NaN
5643                               NaN

      Total CO2 (arterial blood gas analysis)  \
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
...                                       ...
5639                                      NaN
5640                                      NaN
5641                                      NaN
5642                                      NaN
5643                                      NaN

      HCO3 (arterial blood gas analysis)  pO2 (arterial blood gas analysis)  \
0                                    NaN                                NaN
1                                    NaN                                NaN
2                                    NaN                                NaN
3                                    NaN                                NaN
4                                    NaN                                NaN
...                                  ...                                ...
5639                                 NaN                                NaN
5640                                 NaN                                NaN
5641                                 NaN                                NaN
5642                                 NaN                                NaN
5643                                 NaN                                NaN

      Arteiral Fio2  Phosphor ctO2 (arterial blood gas analysis)
0               NaN       NaN                                NaN
1               NaN       NaN                                NaN
2               NaN       NaN                                NaN
3               NaN       NaN                                NaN
4               NaN       NaN                                NaN
...             ...       ...                                ...
5639            NaN       NaN                                NaN
5640            NaN       NaN                                NaN
5641            NaN       NaN                                NaN
5642            NaN       NaN                                NaN
5643            NaN       NaN                                NaN

[5644 rows x 109 columns]

In [ ]:
#on peut aussi remplacer les nan par la moyenne, la médiane, le mode de la colonne spécifiée
x = data["Platelets"].mean()
data["Platelets"].fillna(x, inplace=True)
print(data["Platelets"])

0      -3.535004e-10
1      -5.174130e-01
2      -3.535004e-10
3      -3.535004e-10
4      -3.535004e-10
            ...
5639   -3.535004e-10
5640   -3.535004e-10
5641   -3.535004e-10
5642   -3.535004e-10
5643   -9.068291e-01
Name: Platelets, Length: 5644, dtype: float64

**4**. **Correction des données**

Supposons que nous voulons remplacer à **l**'**indexe** **1** l'âge du patient de 17 ans par 15 ans, pour cela nous utiliserons la fonction loc(). Cette fonction permet donc de corriger avec exactitude la valeur d'une cellule.

In [ ]:
data.loc[1, 'Patient age quantile'] = 15
print(data['Patient age quantile'])

0       13
1       15
2        8
3        5
4       15
        ..
5639     3
5640    17
5641     4
5642    10
5643    19
Name: Patient age quantile, Length: 5644, dtype: int64

# Statistiques sur les variables

Pour afficher des données statistiques du jeu de donné on utilise la faonction describe(). Pour chaque caractéristiques données, la fonction describe affiche un certain nombre d'informations comme le max , la moyenne , le minimum.

In [ ]:
data.describe()

,Patient age quantile,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,Mean corpuscular hemoglobin concentration (MCHC),...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
count,5644.000000,5644.000000,5644.000000,5644.000000,5644.000000,5.644000e+03,5.990000e+02,6.020000e+02,6.020000e+02,6.020000e+02,...,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.000000e+01,2.000000e+01,2.700000e+01
mean,9.318037,0.013997,0.008859,0.007264,4.465804,-3.535003e-10,7.438142e-09,8.424447e-09,-7.866736e-09,1.014863e-09,...,-1.379737e-10,8.416397e-09,-1.655685e-09,4.139211e-10,-7.472139e-09,6.070843e-09,-2.469729e-08,4.656613e-09,6.332993e-09,5.243001e-09
std,5.777493,0.117489,0.093713,0.084929,1.578890,3.266203e-01,1.000836e+00,1.000832e+00,1.000832e+00,1.000832e+00,...,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.025978e+00,1.025978e+00,1.019049e+00
min,0.000000,0.000000,0.000000,0.000000,-4.345603,-2.552426e+00,-2.457575e+00,-3.970608e+00,-1.865070e+00,-5.431808e+00,...,-1.999560e+00,-1.244817e+00,-3.082674e+00,-3.568877e+00,-2.925618e+00,-2.985592e+00,-1.175907e+00,-1.532932e+00,-1.480526e+00,-2.900254e+00
25%,4.000000,0.000000,0.000000,0.000000,5.000000,-3.535004e-10,-6.624832e-01,-5.679496e-01,-7.307069e-01,-5.524761e-01,...,-1.122574e+00,-5.348102e-01,-3.308668e-01,-9.210583e-02,-5.117720e-01,-5.397211e-01,-8.169898e-01,-1.214975e-01,-5.527296e-01,-4.852787e-01
50%,9.000000,0.000000,0.000000,0.000000,5.000000,-3.535004e-10,-1.015171e-01,1.385207e-02,-1.426696e-02,-5.458523e-02,...,2.677689e-01,-2.120799e-01,-1.181667e-02,2.942021e-01,7.743482e-02,5.633191e-02,-1.599549e-01,-1.174366e-02,-1.381825e-01,1.826928e-01
75%,14.000000,0.000000,0.000000,0.000000,5.000000,-3.535004e-10,6.838353e-01,6.661759e-01,5.976919e-01,6.424628e-01,...,7.383496e-01,2.305214e-02,6.661649e-01,5.115003e-01,4.385609e-01,5.085100e-01,4.500090e-01,-1.174366e-02,2.763648e-01,5.937525e-01
max,19.000000,1.000000,1.000000,1.000000,5.000000,9.532034e+00,3.713052e+00,3.645706e+00,3.764100e+00,3.331071e+00,...,1.337265e+00,3.236524e+00,1.703078e+00,1.042674e+00,1.940087e+00,2.029471e+00,2.205371e+00,2.841856e+00,2.862350e+00,1.826932e+00

Le tableau révele que par exemple l'âge moyen des personnes est de 9 ans, et le maximun de 19 et que 75% ont 14 ans.

value_count() affiche la fréquence de chaque valeur d'une caractéristique donnée.

In [ ]:
data['Hemoglobin'].value_counts()#décompter le nombre de personnes par tranche d'âge

 5.000000    5041
-0.460932      23
-0.335620      22
 0.416252      22
-0.147652      21
             ...
-2.215300       1
 2.045308       1
 2.233275       1
 2.483899       1
-2.779203       1
Name: Hemoglobin, Length: 85, dtype: int64

Une analyse plus poussée serait de grouper plusieurs caractéristiques et d'en déduire, un taux comme
la moyenne, le maximum etc. Pour cela on utilise groupby()

In [ ]:
data.groupby(['Patient age quantile']).mean()

,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,Mean corpuscular hemoglobin concentration (MCHC),Leukocytes,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
Patient age quantile,,,,,,,,,,,,,,,,,,,,,
0,0.026946,0.038922,0.059880,4.502082,0.056825,-0.529513,-0.491551,0.494317,-0.102531,1.316162,...,-0.545047,3.181199,-1.985939,-3.230858,1.084787,0.693492,-0.803261,1.378472,2.862350,-0.844956
1,0.004274,0.017094,0.021368,4.735257,0.044874,-0.866471,-0.180081,-0.450799,0.325621,1.358260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690912,NaN
2,0.009524,0.003175,0.000000,4.669187,0.004841,0.034296,0.095509,0.282005,0.511437,0.171659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.003984,0.000000,0.000000,4.631384,0.012000,0.076672,-0.413425,-0.086513,0.296866,0.157151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.217144,NaN
4,0.005464,0.002732,0.000000,4.645222,0.004246,0.062766,0.241788,0.212362,0.393516,-0.046905,...,0.923728,-0.565546,-0.729679,0.201649,-1.050294,-1.067262,0.688634,-0.011744,NaN,0.353968
5,0.006803,0.000000,0.000000,4.687115,-0.004135,0.414572,0.291531,0.208341,0.109718,-0.101706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.000000,0.000000,0.000000,4.553771,0.003303,-0.188778,0.231294,-0.239813,0.148258,-0.128416,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.009404,0.003135,0.000000,4.596352,0.014101,-0.179189,0.035551,0.304260,-0.284382,-0.265217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.611951,NaN
8,0.017964,0.000000,0.000000,4.592472,0.005442,0.010676,0.115857,0.225765,0.293938,-0.113891,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.002786,0.000000,0.000000,4.443200,-0.000440,0.021896,-0.088844,0.120492,0.000182,-0.230967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.015789,0.005263,0.000000,4.382747,-0.022780,0.020026,0.069682,0.116156,-0.162462,-0.395036,...,0.267769,-0.488706,0.825690,0.825376,0.381541,0.467403,-0.575750,-0.011744,-0.454028,-0.228366
11,0.010526,0.005263,0.002632,4.477876,-0.026610,0.176295,0.240109,-0.067269,0.201472,0.003052,...,0.695567,-0.230522,0.745927,0.451140,0.153461,0.220760,0.263686,-0.011744,NaN,0.182693
12,0.020305,0.005076,0.000000,4.398319,-0.027581,-0.101517,0.215132,-0.076458,-0.237146,-0.291377,...,0.909466,-0.456433,-0.251104,0.282130,-0.606805,-0.601382,1.226683,-0.011744,NaN,0.902048
13,0.019169,0.009585,0.000000,4.319207,0.009538,0.059123,0.162508,-0.043537,-0.235637,0.070586,...,-0.373929,-0.341172,0.067946,0.294202,-0.378725,-0.354739,-0.528679,NaN,NaN,-0.228366
14,0.013378,0.003344,0.006689,4.451916,0.019972,-0.377192,0.141295,0.076385,0.232768,-0.096677,...,-0.352537,0.018442,-0.051698,-0.158503,-0.150645,-0.128650,0.544151,-0.011744,NaN,1.158960
15,0.018519,0.011111,0.000000,4.390299,-0.017281,-0.145714,0.230084,-0.102317,0.047921,-0.220000,...,-0.416708,-0.285847,0.267352,0.300238,-0.169652,-0.128650,-0.585556,-1.532932,NaN,0.388223
16,0.010753,0.000000,0.003584,4.458356,-0.004812,-0.405524,-0.001503,-0.092954,-0.054586,-0.031683,...,1.294485,-0.138313,0.666165,0.342491,0.495581,0.549617,2.087693,-1.475128,-0.730393,0.182693
17,0.030534,0.003817,0.000000,4.347932,-0.034273,0.375304,0.167628,-0.077287,-0.209486,-0.183273,...,0.096651,-0.327341,0.207530,0.372671,-0.150645,-0.087543,-0.567905,-0.011744,NaN,0.079928
18,0.027027,0.015444,0.019305,4.212941,-0.037431,0.161179,-0.048929,-0.080627,0.151857,-0.181895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.276365,NaN
19,0.036364,0.050909,0.025455,3.747391,-0.017940,0.382784,-0.616006,-0.294212,-0.399897,0.117331,...,-0.403873,-0.136469,0.351103,0.235049,0.248494,0.282421,-0.294108,0.037036,-0.311897,-0.433896

![Untitled3.ipynb - Colaboratory - Google Chrome 18_11_2022 15_06_44 (2).jpg]()

on observe qu'il y a 0.05% des personnes de moins de 1 an ayant été admis en soin intentif.

**Correlation**

La correlation permet d'indiquer le dégré de liaison entre deux caractéristiques. Plus elle est élévée on peut prédire le comportement de l'un en fonction de l'autre et inversement.


La correlation varie de -1 à 1.

exemple:

1 signifie qu'il existe une relation de 1 à 1 (une corrélation parfaite), et pour cet ensemble de données, chaque fois qu'une valeur augmente dans la première colonne, l'autre augmente également.

0,9(plus elle se rapproche de 1) est également une bonne relation, et si vous augmentez une valeur, l'autre augmentera probablement aussi.

-0,9(plus elle se rapproche de -1) serait une relation aussi bonne que 0,9, mais si vous augmentez une valeur, l'autre diminuera probablement.

0,2 signifie PAS une bonne relation, ce qui signifie que si une valeur augmente, cela ne signifie pas que l'autre augmentera.

# Dataframes et séries

## Notion de Dataframe et les séries

La bibliothèque pandas fai cas de la notion de *série* qui est un tableau numpy à une dimention à coté duquel on rajoute une colonne d'indexe.

L'ensemmble de séries forment un *dataframe*, donc un tableau à plusieurs dimentions.

## filtrer ou trier des données

Pandas permet d'éfectuer une suite d'opérations pour des résultats plus poussés.
Par exemple on désir savoir le nombre de passager de moins de 18 ans avec comme indexe le taux d'hémoglobine.

In [ ]:
data[data['Patient age quantile']<18]['Hemoglobin'].value_counts()

On peut encore faire ressortir la moyenne des différentes catégories d'âge en les groupant en plusieurs caractéristiques.

In [ ]:
data[data['Patient age quantile']<18].groupby(['Hemoglobin',]).mean()

La première ligne révèle qu'il y a 100% des patients **admis en soin régulier** qui ont **moins d'un an** dont l'hémoglobine a pour valeur"**-3.844355**".

Ici nous avons extrait une variable cible " âge", en particulier les mineurs,ensuite nous avons groupé chaque tranche d'âge selon le taux d'hémoglobine et enfin afficher la moyenne du tout en fonction des autres variables.

In [ ]:
import pandas as pd #création d'une série
Dt = pd.Series(['April-10', 'April-11', 'April-12', 'April-13'])
print(Dt)

0    April-10
1    April-11
2    April-12
3    April-13
dtype: object

In [ ]:
#création d'une dataframe
dates=['April-10', 'April-11', 'April-12', 'April-13']
fruits=['Apple', 'Papaya', 'Banana', 'Mango']
prices=[3, 1, 2, 4]
df = pd.DataFrame({'Date':dates ,
                   'Fruit':fruits ,
                   'Price': prices})
sport = ['football', 'baseball', 'volleyball', 'basketball']
df1 = pd.DataFrame({'sport':sport})

#concaténation de 2 dataframes
result = pd.concat([df1, df], axis=1)
print(result)

        sport      Date   Fruit  Price
0    football  April-10   Apple      3
1    baseball  April-11  Papaya      1
2  volleyball  April-12  Banana      2
3  basketball  April-13   Mango      4

**Modifier des valeurs dans un** **dataframe**

Une fonction capable d'effectuer cette tâche es la fonction **replace()**

*   Remplacer une seule valeur


```
 df[column_name].replace([old_value], new_value)
```


*   Remplacer plusieurs valeurs par la même valeur


```
df[column_name].replace([old_value1, old_value2, old_value3], new_value)
```


*   Remplacer les valeurs multiples par des valeurs multiples


```
df[column_name].replace([old_value1, old_value2, old_value3],[new_value1, new_value2, new_value3])
```


*   Remplacer une valeur par une nouvelle valeur pour l’ensemble du DataFrame


```
df.replace([old_value], new_value)
```

pour en savoir plus sur les modifications dans un dataframe
[https://www.delftstack.com/fr/howto/python-pandas/pandas-replace-values-in-column/](https://)

pour en savoir plus sur la concaténation des tableaux
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
result['sport'].replace(['football'], ['tennis']) # remplacer football par tennis

0        tennis
1      baseball
2    volleyball
3    basketball
Name: sport, dtype: object

In [ ]:
result['Fruit'].replace(['Papaya', 'Mango'], ['avocat', 'citron']) # remplacer chaque élément par une valeur donnéé

0     Apple
1    avocat
2    Banana
3    citron
Name: Fruit, dtype: object

In [ ]:
result['Price'].replace([3,2,1], 4)# remplacer les valeurs 3,1,2 par 4

0    4
1    4
2    4
3    4
Name: Price, dtype: int64

In [ ]:
print( result)

        sport      Date   Fruit  Price
0    football  April-10   Apple      3
1    baseball  April-11  Papaya      1
2  volleyball  April-12  Banana      2
3  basketball  April-13   Mango      4

In [ ]:
result.replace(4, 2)

        sport      Date   Fruit  Price
0    football  April-10   Apple      3
1    baseball  April-11  Papaya      1
2  volleyball  April-12  Banana      2
3  basketball  April-13   Mango      2

In [ ]:
result=result.replace(['football'], 4)
result.replace(4, 2)#changer toutes les valeurs 4 du dataframe en 2

        sport      Date   Fruit  Price
0           2  April-10   Apple      3
1    baseball  April-11  Papaya      1
2  volleyball  April-12  Banana      2
3  basketball  April-13   Mango      2

<---- [seaborn](https://colab.research.google.com/drive/1vY4iivbSSYqTp4MyGAV_uN90tcd9x4Pb?usp=sharing#scrollTo=0qzDLWvSb5D9)


[sktlearn](https://colab.research.google.com/drive/1yDPyMmN8biMU3qY8jdXxHQWexIq1ezl4?usp=sharing)---->